.li {
  list-style-type: none;
}

.row {
  margin: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}


.minus {
  height: 1.5rem;
  width: 1.5rem;
}

.button {
  width: 5%;
}

.name {
  width: 50%;
}

.type {
  width: 25%;
}

.number {
  width: 20%;
}
