.li{
    list-style-type: none;
}

.row {
    margin: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center
}
h2{
    font-size: 1.5rem;
}

.minus {
    height: 2rem;
    width: 2rem;
}

.button {
    width: 5%
}

.name{
    width: 50%
}

