.header {
  position: fixed;
  z-index: 100;
  background-color: white;
  padding: 2px;
  width: 100%;
  box-shadow: 0 2px 2px -2px rgb(0 0 0 / 76%);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section1 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.section2 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.logo {
  height: 2.5rem;
  width: 2.5rem;
  margin: 10px;
}

.name {
  font-size: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0px;
  margin: 10px;
}

.github {
  height: 2.5rem;
  width: 2.5rem;
  margin-left: 10px;
  margin-right: 20px;
}
