.li {
  list-style-type: none;
}

.row {
  margin: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
h2 {
  font-size: 1.5rem;
  margin: 0px;
}

.minus {
  height: 2rem;
  width: 2rem;
}

.button {
  width: 5%;
}

.name {
  width: 50%;
}

.type {
  width: 45%;
}
